trigger:
  branches:
    include:
      - '*'

pool:
  name: Azure Pipelines
  vmImage: 'macOS-12'

variables:
  - group: shared-variables  # needed for the github access token which is used to create new releases in github

resources:
  repositories:
    - repository: self
      type: git
      ref: refs/heads/develop

jobs:
  - job: Build
    displayName: Build Agent

    steps:
      - checkout: self
        clean: true
        fetchTags: false
        fetchDepth: 0
        persistCredentials: True

      - task: Bash@3
        displayName: Install Build Tools for 'Laerdal.McuMgr.Bindings'
        inputs:
          targetType: filePath
          filePath: 'Laerdal.SetupBuildEnvironment.sh'

      - task: NuGetToolInstaller@1
        displayName: 'Use NuGet '
        inputs:
          checkLatest: true

      - script: mkdir '$(Build.ArtifactStagingDirectory)/Artifacts'
        displayName: 'Create Directory $(Build.ArtifactStagingDirectory)/Artifacts'

      - task: NuGetCommand@2
        displayName: 'NuGet Sources Add (for Classic Xamarin)'
        inputs:
          command: 'custom'
          arguments: ' sources   Add   -Name     LocalNugets   -Source   "$(Build.ArtifactStagingDirectory)/Artifacts" '

      - task: DotNetCoreCLI@2
        displayName: 'NuGet Sources Add (for .Net6+)'
        inputs:
          command: 'custom'
          custom: 'nuget'
          arguments: ' add source "$(Build.ArtifactStagingDirectory)/Artifacts" '

      # notice that explicitly disabling parallelization via m:1 below is vital because if parallelization is enabled the ios and android
      # builds will fail with cryptic errors due to multiple target-frameworks are involved coupled with the custom build logic for native libs
      - task: DotNetCoreCLI@2
        displayName: 'Build .Net6+ Bindings and McuMgr itself and announce new release in GitHub (if needed)'
        inputs:
          command: 'custom'
          custom: 'msbuild'
          arguments: 'Laerdal.McuMgr.Builder.targets    -m:1   -p:Laerdal_Github_Username="$(Github.ComponentsTeam.Username)"   -p:Laerdal_Github_Access_Token="$(Github.ComponentsTeam.AccessToken)"   -p:Laerdal_Repository="$(Repository.Path)"     -p:Laerdal_Source_Branch="$(Build.SourceBranch)"    -p:PackageOutputPath="$(Build.ArtifactStagingDirectory)/Artifacts/" '

      - task: Bash@3
        displayName: 'Print Nugets under Artifacts'
        inputs:
          targetType: inline
          script: ls    -l   "$(Build.ArtifactStagingDirectory)/Artifacts/"
  
      # Publish test results to Azure Pipelines
      #      - task: PublishTestResults@2
      #        inputs:
      #          searchFolder: '$(System.DefaultWorkingDirectory)'
      #          testResultsFiles: 'Laerdal.McuMgr.Tests/Laerdal.McuMgr.Tests.xml'
      #          testResultsFormat: 'XUnit'

      # bare in mind that this task doesnt support wildcards
      - task: PublishBuildArtifacts@1
        inputs:
          ArtifactName: 'drop'
          PathtoPublish: $(Build.ArtifactStagingDirectory)/Artifacts/
          publishLocation: 'Container'
...
