#
# https://docs.github.com/en/actions/migrating-to-github-actions/automated-migrations/migrating-from-azure-devops-with-github-actions-importer#environment-variable-mapping
#

name: Builder

env:
  Build_Repository_Folderpath: ${{ github.workspace }}
  Laerdal_Test_Results_Folderpath: $Build_Repository_Folderpath/TestResults

on:
  push:
    branches:
    - "**" # only trigger on branches not on tags

  pull_request:
    branches: 
    - "main"
    - "develop"

jobs:
  build:

    runs-on: macos-14

    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: 'Setup Build Environment'
        run: ' chmod +x "$Build_Repository_Folderpath/Laerdal.SetupBuildEnvironment.sh"   &&   "$Build_Repository_Folderpath/Laerdal.SetupBuildEnvironment.sh" '
        shell: bash

      - name: 'Add Artifacts folder as a local NuGet Source'
        run: 'dotnet nuget add source  "$Build_Artifact_Staging_Directory/Artifacts"   --name "LocalArtifacts"'
        shell: bash
        env:
          Build_Artifact_Staging_Directory: ${{ runner.temp }}

      - name: 'List Nuget Sources'
        run: dotnet nuget list source
        shell: bash

      - name: 'Build .Net8+ Bindings and McuMgr itself and announce new release in GitHub (if needed)'
        shell: bash
        env:
          Source_Branch_Fullpath: ${{ github.ref }}
          Github_Repository_Path: ${{ github.repository }}
          Components_Team_Github_Access_Token: ${{ secrets.components_team_github_access_token }}
        working-directory: $Build_Repository_Folderpath
        run: |
          dotnet                                                                        \
              msbuild                                                                   \
              "Laerdal.McuMgr.Builder.targets"                                          \
              -m:1                                                                      \
              -p:ShouldSkipMacCatalyst="true"                                           \
              -p:PackageOutputPath="$Build_Artifact_Staging_Directory/Artifacts/"       \
              -p:Laerdal_Gradle_Path="/usr/local/opt/gradle@7/bin/gradle"               \
              -p:Laerdal_Source_Branch="$Source_Branch_Fullpath"                        \
              -p:Laerdal_Repository_Path="$Github_Repository_Path"                      \
              -p:Laerdal_Github_Access_Token="$Components_Team_Github_Access_Token"     \
              -p:Laerdal_Test_Results_Folderpath="$Laerdal_Test_Results_Folderpath"
